<%= stylesheet_link_tag 'index', :media => "all" %>


<div class="main-container">

 <% if user_signed_in? %>
  <div class="box_css">
  <button class="btn btn--stripe btn--radius">
  <%= link_to "新規投稿", new_register_path, data: {"turbolinks" => false} %>
  </button>
  <button class="btn btn--stripe btn--radius">
  <%= link_to "投稿一覧", registers_path, data: {"turbolinks" => false} %>
   </button>
   <button class="btn btn--stripe btn--radius">
  <%= link_to "おすすめ", homes_path, data: {"turbolinks" => false} %>
  </button>
  <h2>Game Navigation</h2>
  </div>
  
  <% else %>

  <div class="login">
  <button class="btn btn--stripe btn--radius">
  <%= link_to "新規登録", new_user_registration_path, data: {"turbolinks" => false} %>
   </button>
  <button class="btn btn--stripe btn--radius">
  <%= link_to "ログイン", new_user_session_path, data: {"turbolinks" => false} %>
   </button>
  <h2>Game Navigation</h2>
  </div>
  

  <% end %>
  </div>


  <div class="introduction-block3">
  <h2>Feature Overview</h2>
    <div class="introduction-block4">
     <div class="introduction-block3-top">
      <h1>Search</h1>
      <h3> ジャンル・性質の診断機能に移動</h3>
     </div>
        <div class="introduction-block3-mypage">
        <h1>My Page</h1>
        <h3>
        自分のプロフィール・投稿の確認と編集に移動</h3>
        </div>
    <div class="introduction-block3-logout">
    <h1>Logout</h1>
    <h3>
    ログアウトすることができる</h3>
    </div>
    </div>
  <div class="introduction-block5">
    <div class="introduction-block3-new">
    <h1>新規投稿</h1>
    <h3>
    投稿するページに移動</h3>
    </div>
    <div class="introduction-block3-show">
    <h1>投稿一覧</h1>
    <h3>投稿一覧の閲覧ページに移動</h3>
    </div>
    <div class="introduction-block3-osusume">
    <h1>おすすめ</h1>
    <h3>あなたにあったゲームを紹介するページに移動</h3>
    </div>

  </div>
  </div>
  </div>
  



  
  </div>
 
  </div>
  </div>

  



