<%= stylesheet_link_tag 'index', :media => "all" %>


<div class="main-container">

 <% if user_signed_in? %>
  <div class="box_css">
  <li><%= link_to "新規投稿", new_register_path %></li>
  <li><%= link_to "投稿一覧", registers_path %></li>
  <li><%= link_to "おすすめ", registers_path %></li>
  <h2>Game Navigation</h2>
  </div>
  
  <% else %>

  <div class="login">
  <li><%= link_to "新規登録", new_user_registration_path %></li>
  <li><%= link_to "ログイン", new_user_session_path %></li>
  <h2>Game Navigation</h2>
  </div>
  
  
  <% end %>
  </div>

  <div class="introduction-block2">
  <h2>ABOUT</h2>
    
    <br>
    <h3>当サイトはゲームを</h3>
    <div class="introduction-block2-omo">
    <div class="introduction-block2-1">
    <h1>知りたい！</h1>
    </div>
    <div class="introduction-block2-2">
    <h1>楽しみたい！</h1>
    </div>
    <div class="introduction-block2-3">
    <h1>やってみたい！</h1>
    </div>
    </div>
    <br>
    <h3>と思う皆様に</h3>
    <br>
    <div class="introduction-block2-omo1">
    <div class="introduction-block2-4">
    <h1>さらに知ってほしい！！</h1>
    </div>
    <div class="introduction-block2-5">
    <h1>さらに楽しんでほしい！！</h1>
    </div>
    <div class="introduction-block2-6">
    <h1>さらにやってほしい！！</h1>
    </div>
    </div>
    <br>
    <h3>
    との思いで作成したサイトになります！
    <br>
    自分が持っている個性（ゲーム）を存分に共有・提供していきましょう！！！！
    </h3>
    
</div>

  <div class="introduction-block3">
  <h2>Feature Overview</h2>
    <div class="introduction-block4">
     <div class="introduction-block3-top">
      <h1>Top</h1>
      <h3> 本サイトのトップページに移動</h3>
     </div>
        <div class="introduction-block3-mypage">
        <h1>My Page</h1>
        <h3>
        自分のプロフィール・投稿の確認と編集に移動</h3>
        </div>
    <div class="introduction-block3-logout">
    <h1>Logout</h1>
    <h3>
    ログアウトすることができる</h3>
    </div>
    </div>
  <div class="introduction-block5">
    <div class="introduction-block3-new">
    <h1>新規投稿</h1>
    <h3>
    投稿するページに移動</h3>
    </div>
    <div class="introduction-block3-show">
    <h1>投稿一覧</h1>
    <h3>投稿一覧の閲覧ページに移動</h3>
    </div>
    <div class="introduction-block3-osusume">
    <h1>おすすめ</h1>
    <h3>あなたにあったゲームを紹介するページに移動</h3>
    </div>

  </div>
  </div>
  </div>
  



  
  </div>
 
  </div>
  </div>

  



