 <h3>おすすめ一覧</h3>
 
<div class="all">
  <h4><span>今回のCHAMPION</span></h4>
</div>
 <div class="registers-container">
		
	 <% @register.each.with_index(1) do |s, i| %>	
			<div class="register">

			<div class="register2">
              <h4>第<%= i %>位</h4>
				<h1><%= s.name %></h1>

				<%= link_to home_path(s.id) do %>
					<div class='item-img-content'>
				<%= image_tag s.image_url, size: "250x200", data: {"turbolinks" => false} if s.image? %>
				    </div>
				<% end %>
                    
			<div class="register-detail">
			<% s.tags.each do |tag| %>
					<h5><%= tag.name %></h5>
				<% end %>


				
				<% if user_signed_in? %>
                
              
					<% if current_user.already_liked?(s) %>
						<%= link_to register_like_path(id: s.id, register_id: s.id), method: :delete do %>
							<i class="fas fa-heart"></i><%= s.likes.count %>
						<% end %>
					<% else %>
						<%= link_to register_likes_path(id: s.id, register_id: s.id), method: :post do %>
							<i class="far fa-heart"></i><%= s.likes.count %>
						<% end %>
					<% end %>
					</div>
					</div>
		</div>

				<% else %>
			<i class="far fa-heart"></i><%= s.likes.count %>

			
			<a href="/users/<%= t.user.id %>"><%= s.user.name %></a>
			    <% end %>
				<% end %>
</div>

<div class="all">
  <h4><span>アクションゲーム</span></h4>
</div>
 <div class="registers-container">
	<%  @search.each.with_index(1) do |s,i| %>
	 
			<div class="register">

			<div class="register2">
              <h4>第<%= i %>位</h4>
				<h1><%=s.name %></h1>

				<%= link_to home_path(s.id) do %>
					<div class='item-img-content'>
				<%= image_tag s.image_url, size: "250x200", data: {"turbolinks" => false} if s.image? %>
				    </div>
				<% end %>
                    
			<div class="register-detail">
				<% s.tags.each do |tag| %>
					<h5><%= tag.name %></h5>
				<% end %>
			
		<% if user_signed_in? %>
                
              
					<% if current_user.already_liked?(s) %>
						<%= link_to register_like_path(id: s.id, register_id: s.id), method: :delete do %>
							<i class="fas fa-heart"></i><%= s.likes.count %>
						<% end %>
					<% else %>
						<%= link_to register_likes_path(id: s.id, register_id: s.id), method: :post do %>
							<i class="far fa-heart"></i><%= s.likes.count %>
						<% end %>
					<% end %>
					</div>
					</div>
		</div>

				<% else %>
			<i class="far fa-heart"></i><%= s.likes.count %>

			
			<a href="/users/<%= t.user.id %>"><%= s.user.name %></a>
			    <% end %>
				<% end %>
</div>
<div class="all">
  <h4><span>シューティングゲーム</span></h4>
</div>
 <div class="registers-container">
	<%  @study1.each.with_index(1) do |s,i| %>
	 
			<div class="register">

			<div class="register2">
              <h4>第<%= i %>位</h4>
				<h1><%=s.name %></h1>

				<%= link_to home_path(s.id) do %>
					<div class='item-img-content'>
				<%= image_tag s.image_url, size: "250x200", data: {"turbolinks" => false} if s.image? %>
				    </div>
				<% end %>
                    
			<div class="register-detail">
				<% s.tags.each do |tag| %>
					<h5><%= tag.name %></h5>
				<% end %>
			
		<% if user_signed_in? %>
                
              
					<% if current_user.already_liked?(s) %>
						<%= link_to register_like_path(id: s.id, register_id: s.id), method: :delete do %>
							<i class="fas fa-heart"></i><%= s.likes.count %>
						<% end %>
					<% else %>
						<%= link_to register_likes_path(id: s.id, register_id: s.id), method: :post do %>
							<i class="far fa-heart"></i><%= s.likes.count %>
						<% end %>
					<% end %>
					</div>
					</div>
		</div>

				<% else %>
			<i class="far fa-heart"></i><%= s.likes.count %>

			
			<a href="/users/<%= t.user.id %>"><%= s.user.name %></a>
			    <% end %>
				<% end %>
</div>
<div class="all">
  <h4><span>シュミレーションゲーム</span></h4>
</div>
 <div class="registers-container">
	<%  @study2.each.with_index(1) do |s,i| %>
	 
			<div class="register">

			<div class="register2">
              <h4>第<%= i %>位</h4>
				<h1><%=s.name %></h1>

				<%= link_to home_path(s.id) do %>
					<div class='item-img-content'>
				<%= image_tag s.image_url, size: "250x200", data: {"turbolinks" => false} if s.image? %>
				    </div>
				<% end %>
                    
			<div class="register-detail">
				<% s.tags.each do |tag| %>
					<h5><%= tag.name %></h5>
				<% end %>
			
		<% if user_signed_in? %>
                
              
					<% if current_user.already_liked?(s) %>
						<%= link_to register_like_path(id: s.id, register_id: s.id), method: :delete do %>
							<i class="fas fa-heart"></i><%= s.likes.count %>
						<% end %>
					<% else %>
						<%= link_to register_likes_path(id: s.id, register_id: s.id), method: :post do %>
							<i class="far fa-heart"></i><%= s.likes.count %>
						<% end %>
					<% end %>
					</div>
					</div>
		</div>

				<% else %>
			<i class="far fa-heart"></i><%= s.likes.count %>

			
			<a href="/users/<%= t.user.id %>"><%= s.user.name %></a>
			    <% end %>
				<% end %>
</div>
<div class="all">
  <h4><span>レーションゲーム</span></h4>
</div>
 <div class="registers-container">
	<%  @study3.each.with_index(1) do |s,i| %>
	 
			<div class="register">

			<div class="register2">
              <h4>第<%= i %>位</h4>
				<h1><%=s.name %></h1>

				<%= link_to home_path(s.id) do %>
					<div class='item-img-content'>
				<%= image_tag s.image_url, size: "250x200", data: {"turbolinks" => false} if s.image? %>
				    </div>
				<% end %>
                    
			<div class="register-detail">
				<% s.tags.each do |tag| %>
					<h5><%= tag.name %></h5>
				<% end %>
			
		<% if user_signed_in? %>
                
              
					<% if current_user.already_liked?(s) %>
						<%= link_to register_like_path(id: s.id, register_id: s.id), method: :delete do %>
							<i class="fas fa-heart"></i><%= s.likes.count %>
						<% end %>
					<% else %>
						<%= link_to register_likes_path(id: s.id, register_id: s.id), method: :post do %>
							<i class="far fa-heart"></i><%= s.likes.count %>
						<% end %>
					<% end %>
					</div>
					</div>
		</div>

				<% else %>
			<i class="far fa-heart"></i><%= s.likes.count %>

			
			<a href="/users/<%= t.user.id %>"><%= s.user.name %></a>
			    <% end %>
				<% end %>
</div>

<div class="all">
  <h4><span>アドベンチャーゲーム</span></h4>
</div>
	
 <div class="registers-container">
	<%  @study4.each.with_index(1) do |s,i| %>
	 
			<div class="register">

			<div class="register2">
              <h4>第<%= i %>位</h4>
				<h1><%=s.name %></h1>

				<%= link_to home_path(s.id) do %>
					<div class='item-img-content'>
				<%= image_tag s.image_url, size: "250x200", data: {"turbolinks" => false} if s.image? %>
				    </div>
				<% end %>
                    
			<div class="register-detail">
				<% s.tags.each do |tag| %>
					<h5><%= tag.name %></h5>
				<% end %>
			
		<% if user_signed_in? %>
                
              
					<% if current_user.already_liked?(s) %>
						<%= link_to register_like_path(id: s.id, register_id: s.id), method: :delete do %>
							<i class="fas fa-heart"></i><%= s.likes.count %>
						<% end %>
					<% else %>
						<%= link_to register_likes_path(id: s.id, register_id: s.id), method: :post do %>
							<i class="far fa-heart"></i><%= s.likes.count %>
						<% end %>
					<% end %>
					</div>
					</div>
		</div>

				<% else %>
			<i class="far fa-heart"></i><%= s.likes.count %>

			
			<a href="/users/<%= t.user.id %>"><%= s.user.name %></a>
			    <% end %>
				<% end %>
</div>
<div class="all">
  <h4><span>ロールプレイングゲーム</span></h4>
</div>
 <div class="registers-container">
	<%  @study5.each.with_index(1) do |s,i| %>
	 
			<div class="register">

			<div class="register2">
              <h4>第<%= i %>位</h4>
				<h1><%=s.name %></h1>

				<%= link_to home_path(s.id) do %>
					<div class='item-img-content'>
				<%= image_tag s.image_url, size: "250x200", data: {"turbolinks" => false} if s.image? %>
				    </div>
				<% end %>
                    
			<div class="register-detail">
				<% s.tags.each do |tag| %>
					<h5><%= tag.name %></h5>
				<% end %>
			
		<% if user_signed_in? %>
                
              
					<% if current_user.already_liked?(s) %>
						<%= link_to register_like_path(id: s.id, register_id: s.id), method: :delete do %>
							<i class="fas fa-heart"></i><%= s.likes.count %>
						<% end %>
					<% else %>
						<%= link_to register_likes_path(id: s.id, register_id: s.id), method: :post do %>
							<i class="far fa-heart"></i><%= s.likes.count %>
						<% end %>
					<% end %>
					</div>
					</div>
		</div>

				<% else %>
			<i class="far fa-heart"></i><%= s.likes.count %>

			
			<a href="/users/<%= t.user.id %>"><%= s.user.name %></a>
			    <% end %>
				<% end %>
</div>
<div class="all">
  <h4><span>パズルゲーム</span></h4>
</div>
  <div class="registers-container">
	<%  @study6.each.with_index(1) do |s,i| %>
	 
			<div class="register">

			<div class="register2">
              <h4>第<%= i %>位</h4>
				<h1><%=s.name %></h1>

				<%= link_to home_path(s.id) do %>
					<div class='item-img-content'>
				<%= image_tag s.image_url, size: "250x200", data: {"turbolinks" => false} if s.image? %>
				    </div>
				<% end %>
                    
			<div class="register-detail">
				<% s.tags.each do |tag| %>
					<h5><%= tag.name %></h5>
				<% end %>
			
		<% if user_signed_in? %>
                
              
					<% if current_user.already_liked?(s) %>
						<%= link_to register_like_path(id: s.id, register_id: s.id), method: :delete do %>
							<i class="fas fa-heart"></i><%= s.likes.count %>
						<% end %>
					<% else %>
						<%= link_to register_likes_path(id: s.id, register_id: s.id), method: :post do %>
							<i class="far fa-heart"></i><%= s.likes.count %>
						<% end %>
					<% end %>
					</div>
					</div>
		</div>

				<% else %>
			<i class="far fa-heart"></i><%= s.likes.count %>

			
			<a href="/users/<%= t.user.id %>"><%= s.user.name %></a>
			    <% end %>
				<% end %>
</div>
<div class="all">
  <h4><span>音楽ゲーム</span></h4>
</div>
 <div class="registers-container">
	<%  @study7.each.with_index(1) do |s,i| %>
	 
			<div class="register">

			<div class="register2">
              <h4>第<%= i %>位</h4>
				<h1><%=s.name %></h1>

				<%= link_to home_path(s.id) do %>
					<div class='item-img-content'>
				<%= image_tag s.image_url, size: "250x200", data: {"turbolinks" => false} if s.image? %>
				    </div>
				<% end %>
                    
			<div class="register-detail">
				<% s.tags.each do |tag| %>
					<h5><%= tag.name %></h5>
				<% end %>
			
		<% if user_signed_in? %>
                
              
					<% if current_user.already_liked?(s) %>
						<%= link_to register_like_path(id: s.id, register_id: s.id), method: :delete do %>
							<i class="fas fa-heart"></i><%= s.likes.count %>
						<% end %>
					<% else %>
						<%= link_to register_likes_path(id: s.id, register_id: s.id), method: :post do %>
							<i class="far fa-heart"></i><%= s.likes.count %>
						<% end %>
					<% end %>
					</div>
					</div>
		</div>

				<% else %>
			<i class="far fa-heart"></i><%= s.likes.count %>

			
			<a href="/users/<%= t.user.id %>"><%= s.user.name %></a>
			    <% end %>
				<% end %>
</div>
<div class="all">
  <h4><span>トレーディングカード</span></h4>
</div>
< <div class="registers-container">
	<%  @study8.each.with_index(1) do |s,i| %>
	 
			<div class="register">

			<div class="register2">
              <h4>第<%= i %>位</h4>
				<h1><%=s.name %></h1>

				<%= link_to home_path(s.id) do %>
					<div class='item-img-content'>
				<%= image_tag s.image_url, size: "250x200", data: {"turbolinks" => false} if s.image? %>
				    </div>
				<% end %>
                    
			<div class="register-detail">
				<% s.tags.each do |tag| %>
					<h5><%= tag.name %></h5>
				<% end %>
			
		<% if user_signed_in? %>
                
              
					<% if current_user.already_liked?(s) %>
						<%= link_to register_like_path(id: s.id, register_id: s.id), method: :delete do %>
							<i class="fas fa-heart"></i><%= s.likes.count %>
						<% end %>
					<% else %>
						<%= link_to register_likes_path(id: s.id, register_id: s.id), method: :post do %>
							<i class="far fa-heart"></i><%= s.likes.count %>
						<% end %>
					<% end %>
					</div>
					</div>
		</div>

				<% else %>
			<i class="far fa-heart"></i><%= s.likes.count %>

			
			<a href="/users/<%= t.user.id %>"><%= s.user.name %></a>
			    <% end %>
				<% end %>
</div>
